[View in Colaboratory](https://colab.research.google.com/github/gubayuhjin/100_Days_of_ML_Code/blob/master/XGB_SiUniZindi.ipynb)

In [0]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

#data dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [16,10]
import seaborn as sns

from sklearn.model_selection import train_test_split
import xgboost as xgb

%matplotlib inline

plt.rcParams['axes.unicode_minus'] = False

In [0]:
#Authenticate

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [6]:
#Import shareable link for train and test

#train https://drive.google.com/open?id=1vesAxOebgvgoC1Td8QEEwI4EFhkz0wAd
#test https://drive.google.com/open?id=1xMtVhvgACgXfQQKA8nqYtalLueV52-TV  
                       

train_downloaded = drive.CreateFile({'id': '1vesAxOebgvgoC1Td8QEEwI4EFhkz0wAd'})
train_downloaded.GetContentFile('train.csv')
test_downloaded = drive.CreateFile({'id': '1xMtVhvgACgXfQQKA8nqYtalLueV52-TV'})
test_downloaded.GetContentFile('test.csv')
                                     
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
df_train.head(3)

,ride_id,seat_number,payment_method,payment_receipt,travel_date,travel_time,travel_from,travel_to,car_type,max_capacity
0,1442,15A,Mpesa,UZUEHCBUSO,2017-10-17,07:15,Migori,Nairobi,Bus,49
1,5437,14A,Mpesa,TIHLBUSGTE,2017-11-19,07:12,Migori,Nairobi,Bus,49
2,5710,8B,Mpesa,EQX8Q5G19O,2017-11-26,07:05,Keroka,Nairobi,Bus,49